@import "tailwindcss";

@theme {
  --font-archivo: "Archivo", sans-serif;
  --font-clash: "Clash Display", sans-serif;
  --color-background: #141414;
  --color-foreground: #EFEFEF;
  --color-dark: #141414;
  --color-light: #EFEFEF;
  --color-destructive: #FF0000;
}

@layer base {
  [data-theme='dark'] {
    --color-background: #141414;
    --color-foreground: #EFEFEF;
  }

  [data-theme='light'] {
    --color-background: #EFEFEF;
    --color-foreground: #141414;
  }
}

@layer {
  :root {
    -webkit-font-smoothing: antialiased;
    --radius: 0.5rem;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-archivo);
    font-weight: 700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}