@import "tailwindcss";
@import './xp-theme.css';

@theme {
  --color-background: #FFF;
  --color-foreground: #222;
  --color-accent: #00f;
  --color-border: #AAA;
  --color-textbox: #FFFFCC;
}

/* @layer base {
  [data-theme='dark'] {
    --color-background: #141414;
    --color-foreground: #EFEFEF;
  }

  [data-theme='light'] {
    --color-background: #EFEFEF;
    --color-foreground: #141414;
  }
} */

@layer {
  .custom-cursor * {
    cursor: inherit !important;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
  }
  
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: "Trebuchet MS";
  }
  /* h1 {
    font-size: 0.6rem
  }

  h2 {
    font-size: 2.5rem
  }

  h3 {
    font-size: 2rem
  }

  h4 {
    font-size: 1.5rem
  } */
  
  u {
    text-decoration: none;
    border-bottom: .5px solid var(--color-foreground)
  }

  a {
    color: var(--color-accent)
  }

  a:focus {
    outline: 1px dotted var(--color-accent)
  }

  @keyframes typewriter {
    from {
      left: 0;
    }

    to {
      left: 100%;
    }
  }

  @keyframes clippy-float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }
  }

  @keyframes loading-dots {
    0%, 20% {
      content: '.';
    }
    40% {
      content: '..';
    }
    60%, 100% {
      content: '...';
    }
  }

  @keyframes typewriter-line {
    from {
      width: 100%
    }

    to {
      width: 0
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .inset-bevel {
    @apply relative;
    box-shadow: inset 1px 1px 0px #808080;
  }

  .inset-bevel::after {
    content: "";
    @apply absolute inset-0;
    box-shadow: inset -1px -1px 0px #ffffff;
  }

  .inset-bevel-bg {
    @apply relative;
    box-shadow: inset 2px 2px 0px #1d1d1d;
  }

  .inset-bevel-bg::after {
    content: "";
    @apply absolute inset-0;
    box-shadow: inset -2px -2px 0px #ffffff;
  }

  .font-pixelated {
    font-family: "Pixelated MS Sans Serif", Arial;
  }

  .animate-typewriter::before {
    animation: typewriter 2s forwards;
    animation-timing-function: steps(11);
  }

  .clippy-text {
    @apply relative overflow-hidden;
  }
  
  .clippy-text::before {
    @apply absolute inset-0 bg-textbox;
    content: '';
  }
  
  .clippy-float {
    animation: clippy-float 3s ease-in-out infinite;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.568));
  }

  .loading-dots::after {
    content: '...';
    animation: loading-dots 1.5s infinite;
    /* font-family: "MS Sans Serif", Arial; */
    display: inline-block;
    width: 3ch;
    text-align: left;
  }
}