@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
}

.dark {
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;
  --alternate: 111, 111, 111;

  background: rgba(var(--background));
  color: rgba(var(--foreground));
}

.light {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --alternate: 160, 160, 160;

  background: rgba(var(--background));
  color: rgba(var(--foreground));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
