/*! XP.css v0.2.6 - https://botoxparty.github.io/XP.css/ */
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/xp-theme/fonts/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/xp-theme/fonts/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
}

.surface {
  background: #ece9d8
}

summary:focus {
  outline: 1px dotted #000
}

::-webkit-scrollbar {
  width: 16px
}

::-webkit-scrollbar:horizontal {
  height: 17px
}

::-webkit-scrollbar-track {
  background-image: url("/xp-theme/icons/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
  display: block
}

::-webkit-scrollbar-button:vertical:start {
  background-image: url("/xp-theme/icons/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  background-image: url("/xp-theme/icons/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("/xp-theme/icons/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("/xp-theme/icons/button-right.svg");
}

button {
  border: none;
  background: #ece9d8;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px
}

button:not(:disabled).active,
button:not(:disabled):active {
  box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey
}

button.focused,
button:focus {
  outline: 1px dotted #000;
  outline-offset: -4px
}

label {
  display: inline-flex;
  align-items: center
}

input,
label,
textarea {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px
}

textarea {
  padding: 3px 4px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0
}

textarea:focus {
  outline: none
}

select {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
  border: none;
  background-color: #fff;
  box-sizing: border-box;
  height: 21px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding: 3px 32px 3px 4px;
  background-image: url("/xp-theme/icons/button-down.svg");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0
}

select:focus {
  outline: none;
  color: #fff;
  background-color: #2267cb
}

select:focus option {
  color: #000;
  background-color: #fff
}

select:active {
  background-image: url("/xp-theme/icons/button-down-active.svg");
}

option {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px
}

.vertical-bar {
  width: 4px;
  height: 20px;
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf
}

&:disabled,
&:disabled+label {
  color: grey;
  text-shadow: 1px 1px 0 #fff
}

input[type=radio]+label {
  line-height: 13px;
  position: relative;
  margin-left: 19px
}

input[type=radio]+label:before {
  content: "";
  position: absolute;
  top: 0;
  left: -19px;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 6px;
  background: url("/xp-theme/icons/radio-border.svg");
}

input[type=radio]:active+label:before {
  background: url("/xp-theme/icons/radio-border-disabled.svg");
}

input[type=radio]:checked+label:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  top: 5px;
  left: -14px;
  position: absolute;
  background: url("/xp-theme/icons/radio-dot.svg");
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none
}

input[type=checkbox]+label {
  line-height: 13px;
  position: relative;
  margin-left: 19px
}

input[type=checkbox]+label:before {
  content: "";
  position: absolute;
  left: -19px;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  margin-right: 6px
}

input[type=checkbox]:focus+label {
  outline: 1px dotted #000
}

input[type=checkbox]:active+label:before {
  background: #ece9d8
}

input[type=checkbox]:checked+label:after {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  position: absolute;
  background: url("/xp-theme/icons/checkmark.svg");
  top: 1px
}

input[type=radio][disabled]+label:before {
  background: url("/xp-theme/icons/radio-border-disabled.svg");
}

input[type=radio][disabled]:checked+label:after {
  background: url("/xp-theme/icons/radio-dot-disabled.svg");
}

input[type=checkbox][disabled]+label:before {
  background: #ece9d8
}

input[type=checkbox][disabled]:checked+label:after {
  background: url("/xp-theme/icons/checkmark-disabled.svg");
}

input[type=email],
input[type=password],
input[type=text] {
  padding: 3px 4px;
  border: 1px solid #7f9db9;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  height: 21px;
  line-height: 2
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus {
  outline: none
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent
}

input[type=range]:focus {
  outline: none
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: url("/xp-theme/icons/indicator-horizontal.svg");
}

input[type=range]::-moz-range-thumb {
  background: url("/xp-theme/icons/indicator-horizontal.svg");
}

input[type=range]::-webkit-slider-runnable-track {
  background: #000;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9
}

input[type=range]::-moz-range-track {
  background: #000;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #a9a9a9, -1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, -1px 1px 0 #fff, 1px -1px #a9a9a9
}

input[type=range].has-box-indicator::-webkit-slider-thumb {
  background: url("/xp-theme/icons/indicator-rectangle-horizontal.svg");
}

input[type=range].has-box-indicator::-moz-range-thumb {
  background: url("/xp-theme/icons/indicator-rectangle-horizontal.svg");
}

.is-vertical {
  display: inline-block;
  width: 4px;
  height: 150px;
  transform: translateY(50%)
}

.is-vertical>input[type=range] {
  width: 150px;
  height: 4px;
  margin: 0 16px 0 10px;
  transform-origin: left;
  transform: rotate(270deg) translateX(calc(-50% + 8px))
}

.is-vertical>input[type=range]::-webkit-slider-runnable-track {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, 1px 1px 0 #fff, -1px -1px #a9a9a9
}

.is-vertical>input[type=range]::-moz-range-track {
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #a9a9a9, 1px -1px 0 #a9a9a9, 0 -1px 0 #a9a9a9, 1px 1px 0 #fff, -1px -1px #a9a9a9
}

.is-vertical>input[type=range]::-webkit-slider-thumb {
  transform: translateY(-8px) scaleX(-1)
}

.is-vertical>input[type=range]::-moz-range-thumb {
  transform: translateY(2px) scaleX(-1)
}

.is-vertical>input[type=range].has-box-indicator::-webkit-slider-thumb {
  transform: translateY(-10px) scaleX(-1)
}

.is-vertical>input[type=range].has-box-indicator::-moz-range-thumb {
  transform: translateY(0) scaleX(-1)
}

.window {
  font-size: 11px;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  background: #ece9d8;
  padding: 3px
}

.window fieldset {
  margin-bottom: 9px
}

.title-bar {
  font-size: 11px;
  background: #000;
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.title-bar-text {
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  margin-right: 24px
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px
}

.title-bar-controls button:focus {
  outline: none
}

.window-body pre {
  margin: -8px
}

.status-bar {
  margin: 0 1px;
  display: flex;
  gap: 1px
}

.status-bar-field {
  box-shadow: inset -1px -1px #dfdfdf, inset 1px 1px grey;
  flex-grow: 1;
  padding: 2px 3px;
  margin: 0
}

ul.tree-view {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
  display: block;
  background: #fff;
  padding: 6px;
  margin: 0
}

ul.tree-view li {
  list-style-type: none;
  margin-top: 3px
}

ul.tree-view a {
  text-decoration: none;
  color: #000
}

ul.tree-view a:focus {
  background-color: #2267cb;
  color: #fff
}

ul.tree-view ul {
  margin-top: 3px;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted grey
}

ul.tree-view ul>li {
  position: relative
}

ul.tree-view ul>li:before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted grey
}

ul.tree-view ul>li:last-child:after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0;
  width: 8px;
  background: #fff
}

ul.tree-view ul details>summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1
}

ul.tree-view details {
  margin-top: 0
}

ul.tree-view details>summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid grey;
  width: 8px;
  height: 9px;
  line-height: 9px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff
}

ul.tree-view details[open] summary {
  margin-bottom: 0
}

ul.tree-view details[open]>summary:before {
  content: "-"
}

fieldset {
  border-image: url("/xp-theme/icons/groupbox-border.svg") 2;
  padding: 10px;
  padding-block-start: 8px;
  margin: 0
}

legend {
  background: #ece9d8
}

menu[role=tablist] {
  position: relative;
  margin: 0 0 -2px;
  text-indent: 0;
  list-style-type: none;
  display: flex;
  padding-left: 3px
}

menu[role=tablist] button {
  z-index: 1;
  display: block;
  color: #222;
  text-decoration: none;
  min-width: unset
}

menu[role=tablist] button[aria-selected=true] {
  padding-bottom: 2px;
  margin-top: -2px;
  background-color: #ece9d8;
  position: relative;
  z-index: 8;
  margin-left: -3px;
  margin-bottom: 1px
}

menu[role=tablist] button:focus {
  outline: 1px dotted #222;
  outline-offset: -4px
}

menu[role=tablist].justified button {
  flex-grow: 1;
  text-align: center
}

[role=tabpanel] {
  padding: 14px;
  clear: both;
  background: linear-gradient(180deg, #fcfcfe, #f4f3ee);
  border: 1px solid #919b9c;
  position: relative;
  z-index: 2;
  margin-bottom: 9px
}

::-webkit-scrollbar {
  width: 17px
}

::-webkit-scrollbar-corner {
  background: #dfdfdf
}

::-webkit-scrollbar-track:vertical {
  background-image: url("/xp-theme/icons/scroll-background.svg");
}

::-webkit-scrollbar-track:horizontal {
  background-image: url("/xp-theme/icons/scroll-background-horizontal.svg");
}

::-webkit-scrollbar-thumb {
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5
}

::-webkit-scrollbar-thumb:vertical {
  background-image: url("/xp-theme/icons/scroll-thumb.svg");
}

::-webkit-scrollbar-thumb:horizontal {
  background-size: 8px;
  background-image: url("/xp-theme/icons/scroll-thumb-horizontal.svg");
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("/xp-theme/icons/scroll-arrow-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("/xp-theme/icons/scroll-arrow-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 17px;
  background-image: url("/xp-theme/icons/scroll-arrow-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 17px;
  background-image: url("/xp-theme/icons/scroll-arrow-right.svg");
}

.window {
  box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee, inset -3px -3px #003bda, inset 3px 3px #0855dd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 3px;
  -webkit-font-smoothing: antialiased
}

.title-bar {
  font-family: Trebuchet MS;
  background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
  height: 21px
}

.title-bar-text {
  padding-left: 3px
}

.title-bar-controls {
  display: flex
}

.title-bar-controls button {
  min-width: 21px;
  min-height: 21px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-position: 50%;
  box-shadow: none;
  background-color: #0050ee;
  transition: background .1s;
  border: none
}

.title-bar-controls button:active,
.title-bar-controls button:focus,
.title-bar-controls button:hover {
  box-shadow: none !important
}

.title-bar-controls button[aria-label=Minimize] {
  background-image: url("/xp-theme/icons/minimize.svg");
}

.title-bar-controls button[aria-label=Minimize]:hover {
  background-image: url("/xp-theme/icons/minimize-hover.svg");
}

.title-bar-controls button[aria-label=Minimize]:not(:disabled):active {
  background-image: url("/xp-theme/icons/minimize-active.svg");
}

.title-bar-controls button[aria-label=Maximize] {
  background-image: url("/xp-theme/icons/maximize.svg");
}

.title-bar-controls button[aria-label=Maximize]:hover {
  background-image: url("/xp-theme/icons/maximize-hover.svg");
}

.title-bar-controls button[aria-label=Maximize]:not(:disabled):active {
  background-image: url("/xp-theme/icons/maximize-active.svg");
}

.title-bar-controls button[aria-label=Restore] {
  background-image: url("/xp-theme/icons/restore.svg");
}

.title-bar-controls button[aria-label=Restore]:hover {
  background-image: url("/xp-theme/icons/restore-hover.svg");
}

.title-bar-controls button[aria-label=Restore]:not(:disabled):active {
  background-image: url("/xp-theme/icons/restore-active.svg");
}

.title-bar-controls button[aria-label=Help] {
  background-image: url("/xp-theme/icons/help.svg");
}

.title-bar-controls button[aria-label=Help]:hover {
  background-image: url("/xp-theme/icons/help-hover.svg");
}

.title-bar-controls button[aria-label=Help]:not(:disabled):active {
  background-image: url("/xp-theme/icons/help-active.svg");
}

.title-bar-controls button[aria-label=Close] {
  background-image: url("/xp-theme/icons/close.svg");
}

.title-bar-controls button[aria-label=Close]:hover {
  background-image: url("/xp-theme/icons/close-hover.svg");
}

.title-bar-controls button[aria-label=Close]:not(:disabled):active {
  background-image: url("/xp-theme/icons/close-active.svg");
}

.status-bar {
  margin: 0 3px;
  box-shadow: inset 0 1px 2px grey;
  padding: 2px 1px;
  gap: 0
}

.status-bar-field {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  padding: 1px 2px;
  border-right: 1px solid rgba(208, 206, 191, .75);
  border-left: 1px solid hsla(0, 0%, 100%, .75)
}

.status-bar-field:first-of-type {
  border-left: none
}

.status-bar-field:last-of-type {
  border-right: none
}

button {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 3px
}

button:not(:disabled).active,
button:not(:disabled):active {
  box-shadow: none;
  background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1)
}

button:not(:disabled):hover {
  box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a
}

button.focused,
button:focus {
  box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4
}

button::-moz-focus-inner {
  border: 0
}

input,
label,
option,
select,
textarea {
  -webkit-font-smoothing: antialiased
}

select {
  border: 1px solid #7f9db9;
  background-image: url("/xp-theme/icons/dropdown.svg");
  background-size: 15px
}

select:focus {
  box-shadow: inset 2px 2px #fff, inset -2px -2px #fff
}

select:hover {
  background-image: url("/xp-theme/icons/dropdown-hover.svg");
}

select:active {
  background-image: url("/xp-theme/icons/dropdown-active.svg");
}

input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none
}

input[type=radio]+label {
  line-height: 16px
}

input[type=radio]+label:before {
  background: linear-gradient(135deg, #dcdcd7, #fff);
  border-radius: 50%;
  border: 1px solid #1d5281
}

input[type=radio]:not([disabled]):not(:active)+label:hover:before {
  box-shadow: inset -2px -2px #f8b636, inset 2px 2px #fedf9c
}

input[type=radio]:active+label:before {
  background: linear-gradient(135deg, #b0b0a7, #e3e1d2)
}

input[type=radio]:checked+label:after {
  background: url("/xp-theme/icons/radio-dot.svg");
}

input[type=radio]:focus+label {
  outline: 1px dotted #000
}

input[type=radio][disabled]+label:before {
  border: 1px solid #cac8bb;
  background: #fff
}

input[type=radio][disabled]:checked+label:after {
  background: url("/xp-theme/icons/radio-dot-disabled.svg");
}

input[type=checkbox]+label:before {
  box-shadow: none;
  border: 1px solid #1d5281;
  background: linear-gradient(135deg, #dcdcd7, #fff)
}

input[type=checkbox]:checked+label:after {
  background: url("/xp-theme/icons/checkmark.svg");
  left: -17px
}

input[type=checkbox]:not([disabled]):not(:active)+label:hover:before {
  box-shadow: inset -2px -2px #f8b636, inset 2px 2px #fedf9c
}

input[type=checkbox]:active+label:before {
  background: linear-gradient(135deg, #b0b0a7, #e3e1d2)
}

input[type=checkbox][disabled]+label:before {
  background: #fff;
  border: 1px solid #cac8bb
}

input[type=checkbox][disabled]:checked+label:after {
  background: url("/xp-theme/icons/checkmark-disabled.svg");
}

input[type=email],
input[type=password],
input[type=text],
select {
  height: 23px
}

input::selection {
  background: #2267cb;
  color: #fff
}

textarea::selection {
  background: #2267cb;
  color: #fff
}

input[type=range]::-webkit-slider-thumb {
  height: 21px;
  width: 11px;
  background: url("/xp-theme/icons/indicator-horizontal.svg");
  transform: translateY(-8px)
}

input[type=range]::-moz-range-thumb {
  height: 21px;
  width: 11px;
  border: 0;
  border-radius: 0;
  background: url("/xp-theme/icons/indicator-horizontal.svg");
  transform: translateY(2px)
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: #ecebe4;
  border-right: 1px solid #f3f2ea;
  border-bottom: 1px solid #f3f2ea;
  border-radius: 2px;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #9d9c99, -1px -1px 0 #9d9c99, 0 -1px 0 #9d9c99, -1px 1px 0 #fff, 1px -1px #9d9c99
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: #ecebe4;
  border-right: 1px solid #f3f2ea;
  border-bottom: 1px solid #f3f2ea;
  border-radius: 2px;
  box-shadow: 1px 0 0 #fff, 1px 1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #9d9c99, -1px -1px 0 #9d9c99, 0 -1px 0 #9d9c99, -1px 1px 0 #fff, 1px -1px #9d9c99
}

input[type=range].has-box-indicator::-webkit-slider-thumb {
  background: url("/xp-theme/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px)
}

input[type=range].has-box-indicator::-moz-range-thumb {
  background: url("/xp-theme/icons/indicator-rectangle-horizontal.svg");
  transform: translateY(0)
}

.is-vertical>input[type=range]::-webkit-slider-runnable-track {
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99, 0 -1px 0 #9d9c99, 1px 1px 0 #fff, -1px -1px #9d9c99
}

.is-vertical>input[type=range]::-moz-range-track {
  border-left: 1px solid #f3f2ea;
  border-right: 0;
  border-bottom: 1px solid #f3f2ea;
  box-shadow: -1px 0 0 #fff, -1px 1px 0 #fff, 0 1px 0 #fff, 1px 0 0 #9d9c99, 1px -1px 0 #9d9c99, 0 -1px 0 #9d9c99, 1px 1px 0 #fff, -1px -1px #9d9c99
}

fieldset {
  box-shadow: none;
  background: #fff;
  border: 1px solid #d0d0bf;
  border-radius: 4px;
  padding-top: 10px
}

legend {
  background: transparent;
  color: #0046d5
}

.field-row {
  display: flex;
  align-items: center
}

.field-row>*+* {
  margin-left: 6px
}

[class^=field-row]+[class^=field-row] {
  margin-top: 6px
}

.field-row-stacked {
  display: flex;
  flex-direction: column
}

.field-row-stacked *+* {
  margin-top: 6px
}

menu[role=tablist] button {
  background: linear-gradient(180deg, #fff, #fafaf9 26%, #f0f0ea 95%, #ecebe5);
  margin-left: -1px;
  margin-right: 2px;
  border-radius: 0;
  border-color: #91a7b4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 0 12px 3px
}

menu[role=tablist] button:hover {
  box-shadow: unset;
  border-top: 1px solid #e68b2c;
  box-shadow: inset 0 2px #ffc73c
}

menu[role=tablist] button[aria-selected=true] {
  background: #fcfcfe;
  border-color: #919b9c;
  margin-right: -1px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid #e68b2c;
  box-shadow: inset 0 2px #ffc73c
}

menu[role=tablist] button[aria-selected=true]:first-of-type:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: -1px;
  height: 2px;
  width: 0;
  border-left: 1px solid #919b9c
}

[role=tabpanel] {
  box-shadow: inset 1px 1px #fcfcfe, inset -1px -1px #fcfcfe, 1px 2px 2px 0 rgba(208, 206, 191, .75)
}

ul.tree-view {
  -webkit-font-smoothing: auto;
  border: 1px solid #7f9db9;
  padding: 2px 5px
}

@keyframes sliding {
  0% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(100%);
  }
}

progress:not([value]),
progress:not([value])::before {
  box-shadow: inset 0 0 1px 0 #686868;
}

progress {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 14px;
  border: 1px solid #686868;
  border-radius: 4px;
  padding: 1px 2px 1px 0;
  overflow: hidden;
  background-color: #fff;
  box-shadow: inset 0px 0px 1px 0px rgba(104, 104, 104, 1);
}

/* Determinate styles */
progress[value]::-webkit-progress-bar {
  background-color: transparent;
}

progress[value]::-webkit-progress-value {
  border-radius: 2px;
  background:
    repeating-linear-gradient(to right,
      #fff 0px,
      #fff 2px,
      transparent 2px,
      transparent 10px),
    linear-gradient(to bottom,
      #acedad 0%,
      #7be47d 14%,
      #4cda50 28%,
      #2ed330 42%,
      #42d845 57%,
      #76e275 71%,
      #8fe791 85%,
      #ffffff 100%);
}

progress[value]::-moz-progress-bar {
  border-radius: 2px;
  background:
    repeating-linear-gradient(to right,
      #fff 0px,
      #fff 2px,
      transparent 2px,
      transparent 10px),
    linear-gradient(to bottom,
      #acedad 0%,
      #7be47d 14%,
      #4cda50 28%,
      #2ed330 42%,
      #42d845 57%,
      #76e275 71%,
      #8fe791 85%,
      #ffffff 100%);
}

/* Indeterminate styles */
progress:not([value]) {
  position: relative;
}

progress:not([value])::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

progress:not([value])::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 100%;
  height: calc(100% - 2px);
  padding: 1px 2px;
  border-radius: 2px;
  background:
    repeating-linear-gradient(to right,
      transparent 0px,
      transparent 8px,
      #fff 8px,
      #fff 10px,
      transparent 10px,
      transparent 18px,
      #fff 18px,
      #fff 20px,
      transparent 20px,
      transparent 28px,
      #fff 28px,
      #fff 100%),
    linear-gradient(to bottom,
      #acedad 0%,
      #7be47d 14%,
      #4cda50 28%,
      #2ed330 42%,
      #42d845 57%,
      #76e275 71%,
      #8fe791 85%,
      #ffffff 100%);
  animation: sliding 2s linear infinite;
  -webkit-animation: sliding 2s linear infinite;
  -moz-animation: sliding 2s linear infinite;
}

/* Firefox specific */
@-moz-keyframes sliding {
  0% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(100%);
  }
}

progress:not([value])::-moz-progress-bar {
  width: 100%;
  background:
    repeating-linear-gradient(
          to right,
          transparent 0px,
          transparent 8px,
          #fff 8px,
          #fff 10px,
          transparent 10px,
          transparent 18px,
          #fff 18px,
          #fff 20px,
          transparent 20px,
          transparent 28px,
          #fff 28px,
          #fff 100%
        ),
        linear-gradient(
          to bottom,
          #acedad 0%,
          #7be47d 14%,
          #4cda50 28%,
          #2ed330 42%,
          #42d845 57%,
          #76e275 71%,
          #8fe791 85%,
          #ffffff 100%
        );
  animation: sliding 2s linear infinite;
}